

*, *::before, *::after{
    box-sizing: border-box;
  }
  :root {
    --text-clr:  #565656;
    --primary-clr: #008AD8;
  }
  
  body {
    margin: 0;
    background: #F4F4F4;
    font-family: "Lexend Deca", sans-serif;
    font-weight: 400;
  }
  .container {
    margin: 2.8em;
  }
  
  h1 {
    margin-bottom: 0;
  }
  .headings p {
    font-size: 1.125rem;
    color: var(--text-clr);
  }
  .options {
    position: relative;
  }
  .filter {
    position: absolute;
    top: 3em;
    right: 1em;
    background: white;
    padding: 2em 1.5em;
    border-radius: 6px;
    box-shadow: 11px 18px 54px rgba(0,0,0, .11);
    transition: clip-path .3s ease-in-out;
  }
  .chk-container {
    margin-bottom: 1.125em;
  }
  .chk-container:last-of-type {
    margin-bottom: 0;
  }
  
  .labels {
    display: none;
  }
  .search {
    border: none;
    border-radius: 2em;
    padding: 0.8em; 
    background: white url('./assets/search.svg') no-repeat right .8em center;
    width: 100%;
  }
  .search:focus {
    outline: thin dotted;
  }
  .icons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3em;
  }
  .far, .fas {
    cursor: pointer;
  }
  
  .car-name {
    color: var(--primary-clr);
    font-size: 1.22rem;
    text-decoration: none; 
  }
  .car-location {
    font-size: 1.125rem;
    color: var(--text-clr);
  }
  .car-price {
    font-size: 1.5rem;
  }
  .cars, .labels {
    margin: -1em -1em 2em;
    padding: 1em;
    border-radius: 6px;
  }
  .cars:hover {
    background: white;
  }
  .cols-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  @media only screen and (min-width: 900px) {
    
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .labels {
        display: block;
        display: grid;
        grid-template-columns:35% 35% 20% auto;
        background: var(--primary-clr);
        color: white;
        font-size: .875rem;
        text-transform: uppercase;
        padding: .2em 1em;
    }
    .cars {
        display: grid;
        grid-template-columns:35% 35% auto;
    }
     
    .far, .fas {
        margin-right: 1.6em;
    }
    
    .icons {
        margin-top: 0;
    }
    
    .headings p {
        margin: .5em 0 3em;
    }
    .car-location {
        margin: 0;
    }
  }